*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  background: #161f49;
  /* overflow: hidden; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 16px;
  background: #f7f8f8;
}

.container a {
  outline: none;
  color: #1a2542;
  text-decoration: none;
  transition: color 0.2s;
}

.container a:hover,
.container a:focus {
  color: #6fc6ac;
  text-decoration: none;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0px;
  border: 20px solid #f7f8f8;
  color: #1a2542;
  border-radius: 30px;
  background: #141f49;
}

.card {
  text-align: center;

  position: absolute;
  width: 520px;
  height: 420px;
  left: calc(50% - 260px);
  top: calc(50% - 280px);

  padding: 2em;

  background-color: #f7f8f8;
  border-radius: 11px;
  box-shadow: 2px 2px 11px #00000059;
}

.logo {
  width: 400px;
  height: auto;
  padding-bottom: 1em;
}

.copy {
  line-height: 1.4em;
  text-align: center;
}

.info {
  padding: 20px 0 0;
  position: absolute;
  bottom: 10px;
  left: 20px;
  right: 20px;
  text-align: center;
  font-size: 0.85em;
  border-top: 8px solid;
  border-image: linear-gradient(to right,
      #66c4a7 0%,
      #33b9e7 10%,
      #576ab2 20%,
      #1c1853 30%,
      #66c4a7 40%,
      #33b9e7 50%,
      #576ab2 60%,
      #1c1853 70%,
      #66c4a7 80%,
      #33b9e7 90%,
      #576ab2 100%);
  border-image-slice: 1;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
}

.footer {
  font-size: 0.75em;
  color: #ffffff7a;
  text-align: right;
  position: relative;
  width: 100%;
  bottom: 40px;
  padding: 0 30px;
}

@media (max-width: 896px) {
  .container {
    padding: 100px 0;
    border: 10px solid #f7f8f8;
    height: 440px;
  }

  .card {
    width: 320px;
    height: 340px;
    left: calc(50% - 160px);
    top: 20px;
    padding: 1em;
  }

  .logo {
    width: 250px;
    height: auto;
  }

  .info {
    display: inline-block;
    padding: 10px 0;
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    text-align: left;
    border-width: 3px;
    width: 90%;
    text-align: center;
    font-size: 0.7em;
    left: calc(50% - 140px);
    line-height: 17px;
  }
}

@media (max-width: 480px) {
  .card {
    top: calc(50% - 210px);
  }

  .footer {
    text-align: center;
  }
}
